.margin-left-5 {
    margin-left: 5px !important;
}
.height-37 {
    height: 37px;
}
.border-radius-4 {
    border-radius: 4px !important;
}
.flex {
    display: flex;
}
.right {
    justify-content: end;
}
.left {
    justify-content: start;
}
.list-style-none {
    list-style: none;
}
.chat-me {
    background-color: rgb(0, 132, 255);
    z-index: 1;
    overflow-y: hidden;
    word-break: break-word;
    max-width: 564px;
    overflow-x: hidden;
    color: #f0f0f0;
    border-radius: 18px 18px 4px 18px;
    padding: 8px 0;
    display: block;
    margin-bottom: 5px;
    text-align: end;
    padding-right: 16px;
    padding-left: 16px;
}
.chat-dont-me {
    background-color: #e4e6eb;
    z-index: 1;
    overflow-y: hidden;
    word-break: break-word;
    max-width: 564px;
    overflow-x: hidden;
    color: #0f0f10;
    position: relative;
    border-radius: 18px 18px 18px 4px;
    padding: 8px 12px;
    display: block;
    margin-bottom: 5px;
}
.body-chat {
    max-height: 500px;
    overflow-y: auto;
}
.check-send {
    border-radius: 50%;
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
}
.check-sended {
    background: #ccc;
    border-radius: 50%;
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
    .bi-check {
        color: white;
    }
}
.padding-right-26 {
    padding-right: 26px;
}
.format-sub-info {
    color: #ccc;
    font-size: 10px;
    display: flex;
    align-items: center;
}
.padding-right-5 {
    padding-right: 5px !important;
}
.padding-left-5 {
    padding-left: 5px !important;
}
.direction-column {
    flex-direction: column
}
.justify-end {
    display: flex;
    justify-content: flex-end;
}
.justify-start {
    display: flex;
    justify-content: flex-start;
}
.direction-row {
    display: flex;
    flex-direction: row;
}
.padding-left-16 {
    padding-left: 16px;
}
.fireworks-example {
    background-color: black;
    border-radius: 10px;
    margin: 10px 0;
}
@media screen and (max-width: 768px) {
    .body-chat {
        max-height: 296px !important;
        overflow-y: auto;
    }
    .text {
        position: absolute;
        color: white;
        font-size: 26px;
        top: 58px !important;
        left: 10% !important;
        font-weight: bold;
    }
}

.bounce-enter-active {
    animation: bounce-in .5s ease-out both;
}

.bounce-leave-active {
    animation: bounce-in .5s reverse ease-in both;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}
.text {
    position: absolute;
    color: white;
    font-size: 26px;
    top: 58px;
    left: 10%;
    font-weight: bold;
    padding-right: 15px;
}


